head
	meta(charset="UTF-8")
	meta(name="description" content="The introduction to javascript basics")
	meta(name="author" content="Trong Thao")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Javascript Basics - thaonguyen@gumiviet.com
	link(rel="stylesheet", type="text/css", href="css/main.css")
